.container {
    width: 100;
    display: flex;
    margin-top: 2rem;
}

.images {
    width: 30%;
    border-right: 1px solid #222;
}

.form {
    width: 70%;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea {
    outline: none;
    border: 1px solid #222;
    border-radius: 5px;
    min-height: 20px;
    padding: 5px;
}

.form-content input, .form-content textarea {
    width: 80%;
    margin: 1em 0;
}

.form-content textarea {
    min-height: 200px;
}

.form .preview {
    margin-left: 10%;
    height: 500px;
    /* background: url('../images/pc-background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    background-color: #ebd3b3;
    border-radius: 20px;
    padding: 20px;
}

.form .preview img {
    max-width: 100%;
    max-height: 100%;
}

.preview-buttons {
    display: flex;
    justify-content: center;
}

.preview-buttons button {
    margin: 2.5%
}

.is-saved {
    position: absolute;
    top: 10px;
    font-size: 18px;
    background: #73ea4a;
    color: #fff;
    text-align: center;
    width: 90%;
    margin-left: 2.5%;
    padding: 10px;
    border-radius: 2px;
}