@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-text {
  text-align: center;
}

button, .button {
  background: #ccc;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: none;
  padding: 10px;
}

.button {
  text-decoration: none;
  color: inherit
}

button:hover, .button:hover {
  filter: brightness(0.9);
}

body {
  background: linear-gradient(270deg, #ffffff, #d4d1f7, #f7e5f6, #eceed2);
  background-size: 800% 800%;

  -webkit-animation: Vibes 46s ease infinite;
  -moz-animation: Vibes 46s ease infinite;
  animation: Vibes 46s ease infinite;
}

@-webkit-keyframes Vibes {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Vibes {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Vibes {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}